{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2><img src="{{ user.avatar(128) }}">{{ user.nickname }}</h2>
            <p>
                {% if user.about_me %}  {{user.about_me}} <br> {% endif %}
                {% if user.last_seen %}Last Seen on : {{momentjs(user.last_seen).calender() }} {% endif %}
                {% if g.user.id == user.id %}
                <a href="{{ url_for('edit') }}"> edit</a>
                {% elif not g.user.is_following(user)  %}
                <a href="{{ url_for('Follow', email=user.email) }}">Follow</a>
                {% else %}
                <a href="{{ url_for('unfollow', email=user.email) }}">Unfollow</a>
                {% endif %}
            </p>
            <hr>
            {% if posts %}
            <div class="">
                {% for post in posts.items %}
                    {% include "post.html" %}
                {% endfor %}
            </div>
            <ul class="pagination">
              {% if posts.has_prev %}
              <li><a href="{{ url_for('user', email=user.email, page=posts.prev_num) }}">&laquo; Newer Post</a></li>
              {% else %}
              <li class="disabled"><span>&laquo; Newer Post</span></li>
              {% endif %}
              {% if posts.has_next %}
              <li><a href="{{ url_for('user', email=user.email, page=posts.next_num) }}"> Older Post &raquo;</a></li>
              {% else %}
              <li class="disabled"><span>Older Post &raquo;</span></li>
              {% endif %}
          </ul>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
